*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #eeeeeee7;
}


.container {
    display: flex;
    flex-direction: row; /* Cambia a columna para centrar verticalmente */
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 50px 0;

}


.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */

}

.info{
    background-image: url(../img/sesion.png);
    border-radius: 10px 0px 0px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 50px 90px 50px;
    width: 50%;
    color: white;

    /* text-align: center; */
}

.info h2{
    text-transform: uppercase; /* Todo el texto en mayuscula */
    font-size: 50px;
    margin-bottom: 25px;
}

.info hr{
    width: 55px;
    border: 4px solid;
    margin-bottom: 25px;

    /* margin-left: 125px; */
}

.txt1{
    text-transform: capitalize; /* Pone en mayuscula cada palabra*/
    font-size: 22px;
    margin-bottom: 25px;
}

.txt2{
    font-size: 20px;
}

/* Estilos para los botones "Iniciar Sesión" y "Registrar" */
.toggle-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: #e84e2b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}


/* Centrar los botones en la parte superior */
.button-box {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los formularios */
.input-group {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.check-box {
    margin-right: 5px;
}

.check-box span {
    font-size: 14px;
}

.submit{
    background-color: #e84e2b;
    padding: 15px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover{
    box-shadow: rgba(226, 155, 24, 0.25) 0px 30px 60px -12px, rgba(255, 110, 26, 0.3) 0px 18px 36px -18px;
    transform: translateY(-0.1em);
} */ */

.button {
    margin: 0px 25px;
    padding: 14px 0px 14px 0px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e84e2b;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #e84e2b;
    cursor: pointer;
} 

button:hover {
    color: #ffffff;
    transform: scale(0.9);
    outline: 2px solid #f3a07e;
    box-shadow: 4px 5px 17px -4px #e84e2b;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #e84e2b;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

/* 

.sesion{    
    justify-content: center;
    align-items: center;
    padding: 110px 100px 110px 100px;
    width: 50%;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
}

.sesion h2{
    color: #d9331d;
    font-size: 35px;
    margin-bottom: 25px;
} */

/* .login{
    display: flex;
    flex-direction: column;
}

.login a{
    color: #e84e2b;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

.box{
    outline: none;
    border-color: #e84e2b;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #fef3ee;
}

.submit{
    background-color: #e84e2b;
    padding: 15px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover{
    box-shadow: rgba(226, 155, 24, 0.25) 0px 30px 60px -12px, rgba(255, 110, 26, 0.3) 0px 18px 36px -18px;
    transform: translateY(-0.1em);
} */ 
/* 
.button {
    margin: 0px 25px;
    padding: 14px 0px 14px 0px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e84e2b;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #e84e2b;
    cursor: pointer;
} 

button:hover {
    color: #ffffff;
    transform: scale(0.9);
    outline: 2px solid #f3a07e;
    box-shadow: 4px 5px 17px -4px #e84e2b;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #e84e2b;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 250%;
}

@media(max-width:990px){
    .container{
        width: 350px;
        height: auto;
        margin-top: 50px;
    }

    .info{
        display: none;
    }

    .sesion{
        width: 100%;
        padding: 30px;
    }
}  */
