
body{
    font-family: sans-serif;
}

.nosotros{
    text-align: justify;
    margin: 55px 300px;
}

.mision,
.vision{
    /* border: #36e20c dashed; */
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(39, 122, 16, 0.4) 0px 0px 0px 2px, rgba(53, 138, 19, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
}

.mision h1,
.vision h1{
    margin-bottom: 10px;
    color: #2cb60a;
}

.sector{
    padding: 30px;
}

.mision img,
.vision img{
    width: 150px;
}


.fondo-img{
    background-image: url(../img/fondo_nosotros.svg);    
    border-radius: 15px 0px 0px 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px
}


.lideres{
    display: flex;
    justify-content: center ;
    text-align: center;
    margin-bottom: 50px;
}

.integrantes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    /* color: #ffffff; */
    color: #36e20c;
    /* background-color: #00f7d1; */
    border-radius: 15px;
    padding :50px 30px;
    margin : 20px 30px;
    box-shadow:  9px -9px 5px #26cc4f,
                -9px 9px 5px #2cee4cf1;
}

.integrantes:hover{
    box-shadow:  14px -14px 16px #24c4ac,
                -14px 14px 16px #2efbdc;
}

.integrantes img{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;    
}